* {
    padding: 0;
    margin: 0;
}

.container {
    width: 600px;
    height: 600px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px auto;
}

.item, 
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    border: 1px solid #ff0000;
    box-sizing: border-box;
}

.btn {
    cursor: pointer;
    background-color: #ccc;
}

.active {
    background-color: #ff0000;
}